.main_box{
    width: 50%;
    margin: 0 auto;
 }
 .item_con{
     margin-bottom: 10px;   
 }
 
 .item_box{
     width: 100%;
     margin-right: 10px;
     text-align: center;
     padding-bottom: 10px;
 }
 .items, 
 .items_req,
 .items_radio{
     margin-bottom: 10px;
     box-sizing: border-box;
 }
 .items_radio{
     display:inline-block;
     width: 100%;
     text-align: left;
 }
 .items_title{
     display: inline-block;
     width: 40%;
     margin-right: 10px;
     font-size: 20px;
     text-align: left;
     font-weight: bold;
}
.medicine_item{
    display: inline-block;
    width: 80%;
    margin-right: 10px;
     font-size: 20px;
     text-align: left;
     font-weight: bold;
}
.items_text{
    display: inline-block;
    width: 55%;
    font-size: 18px;
    
}
 .items input[type="text"],
 .items_medicine input[type="text"],
 .items_medicine input[type="number"],
 .two_text input[type="number"],
 .items_req input[type="text"]{
     width: 50%;
     padding: 10px;
     border: 1px solid gray;
     border-radius: 10px;
     transition: all .2s ease;
     font-size: 18px;
     
}

.items_req input[type="number"]{
     width: 13%;
     padding: 10px;
     border: 1px solid gray;
     border-radius: 10px;
     transition: all .2s ease;
     font-size: 18px;
}

.items input[type="text"]:disabled, 
.items_medicine input[type="number"]:disabled,
.items_medicine input[type="text"]:disabled,
.two_text input[type="number"]:disabled,
.items_req input[type="text"]:disabled,
.items_req input[type="number"]:disabled{
     text-align: center;
     color: black;
     border: none;

 }
 .items input[type="text"]:focus,
 .items_req input[type="text"]:focus,
 .items_medicine input[type="number"]:focus,
 .items_medicine input[type="text"]:focus,
 .two_text input[type="number"]:focus,
 .items_another textarea:focus,
 .items_req input[type="number"]:focus{
     border: 1px solid #55b1df;
     border-radius: 10px;
     transition: all .2s ease;
     outline: none;
 }

 .items_req span::after,
 .items_medicine .items_title::after, .medicine_item::after{
     content: "(必須)";
     color: red;
 }
 .items_medicine input{
     text-align: center;
 }
 .items_another{
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: right;
    width: 100%;
    padding: 0 20px;
 }
 .items_title_another{
    display: block;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

 .items_another textarea{
     box-sizing: border-box;
     width: 100%;
     padding: 10px;
     resize: none;
     outline: none;
     border: 1px solid gray;
     border-radius: 10px;
     transition: all .2s ease;
     font-size: 18px;
     height: 200px;
 }

 .items_medicine{
     height: 100%;
     margin-bottom: 10px;
     padding: 10px 0;
     border: 1px solid gray;
     border-radius: 25px;
     box-sizing: border-box;
 }
.item_box p{
    display: inline-block;
    font-size: 16px;
    word-break: break-all;
    color:black;
}
 .two_text input[type="number"]{
    width: 20%;
 }
 .items_medicine select{
     width: 50%;
     text-align: center;
     outline: none;
     font-size: 18px;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid gray;
 }
 .medicine_tap_menu{
     display: none;
 }

 .medicine_btn{
    margin-bottom: 10px;
 }
 .medicine_btn button{
    cursor: pointer;
    margin: 0 10px;
 }
 .items_medicine span{
    margin-top: 10px;
 }
 
#delete_btn{
    float: right;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}
#delete_btn:hover{
    color:gray;
}
 .btn_box{
     padding-top: 10px;
     text-align: center;
     padding-bottom: 20px;
 }
 .submit_btn{
    margin: 0 20px;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
    background-color: #3c485e;
    color: white;
    border: 1px solid #3c485e;
}
.submit_btn:hover{
    background-color: white;
    color: #55b1df;
    border: 1px solid #55b1df;
    transition: all .2s ease;
}
.submit_btn:focus{
    outline: none;
}
/* TAP MENU */
.medicine_tap_menu{
    margin: 10px;
    border: 1px solid gray;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    
}
.tap_menu_item_con{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.tap_item_box{
    flex-direction: row;
}
.tap_item label{
    display: inline-block;
    border: 1px solid gray;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.tap_item input[type="checkbox"]{
    cursor: pointer;
}
.tap_item input[type="checkbox"]:checked{
    background-color: aqua;
}
#close_tap{
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    float: right;
}

#search_medicine_keyword{
    outline: none;
    border: 1px solid gray;
    transition: all .2s ease;
    font-size: 16px;
    text-align: center;
}
#search_result{
    display: none;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

@media(max-width: 1030px){
     .item_con{
         display:flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
     }
    
     .items_radio .items_title{
         text-align: center;
         width: 100%;
     }
     .items_radio{
         text-align: center;
     }
     .items input[type="text"],
     .items_req input[type="text"],
     .items_medicine input[type="number"]{
         width: 70%;
         height: 10px;
         font-size: 14px;
         text-align: center;
     }
     .items_req input[type="number"]{
         width: 22%;
     }
     
     .items_medicine input[type="text"]{
         font-size: 14px;
         text-align: center;
     }
     .items_text{
         font-size: 16px;
     }
     .items_title{
         font-size: 18px;
         width: 70%;
         text-align: center;
     }
     .medicine_item{
        font-size: 18px;
        width: 70%;
        text-align: center;
     }
     .items_title_another{
        font-size: 16px;
     }
     .items_another textarea{
         font-size: 16px;
     }
     .btn_box{
         display:inline-block;
         width: 100%;
    }
    .submit_btn{
         font-size: 14px;
         width: 50%;
     }
     .items_medicine select{
        font-size: 14px;
     }
     .tap_item label{
        font-size: 14px;
     }
     .item_box p{
         width: 80%;
         font-size: 14px;
     }
     #search_result{
         font-size: 16px;
     }
 }