.main_box{
    width: 50%;
    margin: 0 auto;
 }
 .item_con{
     margin-bottom: 10px;   
 }
 .hospital_info{
     margin-bottom: 10px;
 }
 .item_box{
     width: 100%;
     margin-right: 10px;
     text-align: center;
     padding-bottom: 10px;
     background-color: white;
 }
 .member_name{
    text-align: center;
    margin-bottom: 10px;
}
.member_name span{
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}

 .items{
     margin-bottom: 10px;
     box-sizing: border-box;
     text-align: left;
     padding: 0 30px;
 }
.items_img{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.items_img .items_title{
    text-align: center;
}
.items_img img{
    width: 50%;
    background-size: cover;
    background-position: center;
}
 .items_title{
     display: inline-block;
     width: 200px;
     margin-right: 10px;
     font-size: 20px;
     font-weight: bold;
     text-align: left;
}
.items_text{
    display: inline-block;
    width: 50%;
    text-align: center;
}

 .items_medicine{
     height: 100%;
     margin-bottom: 10px;
     padding: 10px 0;
     border: 1px solid gray;
     border-radius: 25px;
     box-sizing: border-box;
 }
.item_box p{
    display: inline-block;
    font-size: 16px;
    word-break: break-all;
    color:black;
}


 .btn_box{
     padding-top: 10px;
     text-align: center;
     padding-bottom: 20px;
 }
 .btn_box button{
    margin: 0 20px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
}

.btn_box button:focus{
    outline: none;
}
 .goodsDetail{
    display: flex;
}

.medPicture{
    width: 100px;
    height: 100px;
}

.medcinetableDetail td{
    text-align: left;
}

.medcinetableDetail th{
    text-align: right;
    vertical-align: top;
    width: 20%;
}

 @media(max-width: 1030px ){
     form{
         background-color: white;
     }
     .item_con{
         display:flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
     }
     .hospital_info{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
     }
     
     .info_text{
         font-size: 12px;
         width: 60%;
     }
     .items_title{
         width: 100%;
         display:inline-block;
         font-size: 16px;
         text-align: center;
     }
     .items_text{
        width: 100%;
         font-size: 14px;
         text-align: center;
         word-break: break-all;
     }
     .items_title_another{
        font-size: 16px;
     }
     .btn_box{
         display:inline-block;
         width: 100%;
    }
    .submit_btn{
         font-size: 16px;
         width: 50%;
     }
    .btn_box button{
         font-size: 14px;
     }
   
 }