.item_con{
    padding-top: 25px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.item_box{
    margin-right: 10px;
    text-align: center;
}
.item_text{
    padding-bottom: 25px;
}

footer{
    position: absolute;
    bottom: 0;
}

@media(max-width: 1030px){
    footer{
        position: unset;
    }
}