.notice_con{
    box-sizing: border-box;
    width: 100%;
    padding:0 1rem;
    margin: 0;
    text-align: left;
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    font-size: 0.8rem;
}
.notice_con span{
    color: black;
    margin-right: 1rem;
}
.notice_con a{
    color:gray;
    text-decoration: none;
    margin-right: 1%;
    font-size: 2%;
}
.notice_con a:hover{
    color: #FFC898;
    text-decoration: underline;
}
.notice_con a::before{
    content: "・";
}

.main_box{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.qr_item{
    margin-right: 10px;
    background-color: white;
    padding-bottom: 10px;
    text-align: center;
}
.item_box img{
    width: 100%;
    background-color: black;
}
.wrap_info_con{
    background-color: white;
    text-align: center;
    margin-right: 10px;
    height: 100%;
}
.manual_box{
    border-bottom: 2px solid gainsboro;
    margin-bottom: 5px;
    padding: 0 10px;
}

.manual_title{
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
}
.info_text, .manual_text{
    padding: 0 10px 5px 10px;
    font-size: 14px;
    text-align: left;
}


.menu_con{
    width: 60%;
}
.menu_items{
    display: flex;
    flex-direction:row;
    text-align: center;
    padding-bottom: 10px;
}
.menu_items a {
    text-decoration: none;
    color: black;
}
.menu_items a:hover {
    text-decoration: underline;
}
.qr_text{
    text-align: center;
}
.item_title{
    font-weight: bold;
}
.menu_item_box{
    width: 50%;
    background-color: #d3e8e1;
    margin: 0 1%;
    margin-bottom: 10px;
    padding: 10px 0;
}
footer{
    position: absolute;
    bottom: 0;
}

@media(max-width: 1030px){
    .main_box{
        flex-direction: column;
        align-items: center;
    }
    .menu_item_box a{
        font-size: 14px;
    }

    .notice_con{
        font-size: 1vmin;
    }
    footer{
        position: unset;
    }
    .manual_title{
        font-size: 14px;
    }

    .item_box img{
        width: 60%;
    }
    
    
}

@media(max-width: 550px){
    .menu_con{
        width: 100%;
    }
    .menu_items{
        padding: 0 1%;
    }
    .menu_item_box p, .menu_item_box a{
        font-size: 0.8rem;
    }
    .notice_con{
        display:none;
    }
}