.main_box{
   width: 50%;
   margin: 0 auto;
}
.item_con{
    margin-bottom: 10px;
    
}
.item_box{
    width: 100%;
    margin-right: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.items{
    margin-bottom: 10px;
}

.items_title, .items_title2{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
}

.items_title2::after{
    content: "(必須)";
    color: red;
}
.items input[type="file"]{
    width: 50%;
    padding: 10px;
    cursor: pointer;
}
.items input[type="text"]{
    width: 50%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: all .2s ease;
    
}
.items input[type="text"]:focus,
.items textarea:focus{
    border: 1px solid #55b1df;
    border-radius: 10px;
    transition: all .2s ease;
    outline: none;
}
.items textarea{
    box-sizing: border-box;
     width: 100%;
     padding: 10px;
     resize: none;
     outline: none;
     border: 1px solid gray;
     border-radius: 10px;
     transition: all .2s ease;
     font-size: 18px;
     height: 200px;
}

.items select{
    font-size: 16px;
    text-align: center;
    outline:none;
}
.items_btn{
    padding: 10px 0;
}
.items_btn button{
    margin: 0 20px;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
}
.submit_btn{
    background-color: #3c485e;
    color: white;
    border: 1px solid #3c485e;
}
.submit_btn:hover{
    background-color: white;
    color: #55b1df;
    border: 1px solid #55b1df;
    transition: all .2s ease;
}
.submit_btn:focus{
    outline: none;
}
footer{
    position: absolute;
    bottom: 0;
}

@media(max-width: 1030px){
    .item_con{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .items input[type="text"]{
        width: 50%;
        height: 10px;
    }
    .items_title, .items_title2{
        font-size: 16px;
    }
    .items_btn button{
        font-size: 16px;
    }
    .items select{
        font-size: 14px;
    }
    .items textarea{
        font-size: 16px;
    }
    
}