.main_box{
    width: 50%;
    margin: 0 auto;
 }
 .item_con{
     margin-bottom: 10px;
     
 }
 .item_box{
     width: 100%;
     margin-right: 10px;
     text-align: center;
     padding-bottom: 10px;
 }
 .items{
     margin-bottom: 10px;
     border-bottom: 1px solid #3c485e;
     padding-bottom: 10px;
 }

 .items img{
    width: 50%;
    background-position: center;
    background-size: contain;
}

 .items_title{
     display: inline-block;
     padding: 0 5px;
     margin-bottom: 10px;
 }
 .items_text{
     display:inline-block;
     width: 100%;
 }
 

 .items_btn{
     padding: 10px 0;
 }
 .items_btn button{
     margin: 0 20px;
     cursor: pointer;
     width: 30%;
     font-size: 16px;
 }
 .submit_btn{
     background-color: #3c485e;
     color: white;
     border: 1px solid #3c485e;
 }
 .submit_btn:hover{
     background-color: white;
     color: #55b1df;
     border: 1px solid #55b1df;
     transition: all .2s ease;
 }
 .submit_btn:focus{
     outline: none;
 }

 
 @media(max-width: 1030px){
     .item_con{
         display:flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
     }
     .items_title{
         font-size: 16px;
     }
     .items_btn button{
         font-size: 14px;
     }
     
 }