.main_box{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.item_con{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.item_box{
    margin-right: 10px;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
}
.search_con input{
    width: 150px;
    height: 20px;
    outline: none;
}
.search_con button{
    cursor: pointer;
}
.medicine_btn{
    outline: none;
    cursor: pointer;
}
.search_keyword{
    outline: none;
}
.search_keyword_option{
    outline: none;
    text-align: center;
}
.search_con p{
    color: #3c485e;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
}


table{
    border: 1px solid #3c485e;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-sizing: border-box;
}

table th{
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #3c485e;
    border: 1px solid #3c485e;
    color: white;
    font-weight: 100;
}

table td{
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #3c485e;
}
table td:last-child{
    box-sizing: border-box;
}
.delete_btn, .detail_btn{
    cursor: pointer;
}
.btn_in_table{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    margin: 0;
}
.delete_btn{
    background-color: #FFC898;
    border: 1px solid gray;
    margin-right: 15px;
}

.delete_btn:hover{
    background-color: #e75152;
    border: 1px solid #e75152;
    color:white;
}

.delete_btn:active{
    background-color: #FFC898;
    color:black;
    border: 1px solid #FFC898;
}

.page_con{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.page_con ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.page_con li{
    list-style: none;
    margin: 0 10px;
    
    
}
.page_con li a{
    background-color: #3c485e;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}

.page_con li a:hover{
    background-color: #FFC898;
    color: black;
    transition: all 0.3s;
}


@media(max-width: 1030px){
    .main_box{
        flex-direction: column;
        align-items: center;
    }
    .page_con{
        font-size: 14px;
    }

    footer{
        position: unset;
    }
}